<a href="https://colab.research.google.com/github/karandeep1729/Data-Structures-and-Algorithm-using-Python/blob/main/Recursion.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Recursion** : A function that calls itself

In [ ]:
# print the number 5 to 1. but the problem statement is you cannot use any loop and
# you cannot print the numbers directly.

In [ ]:
# print(5)
# print(4)
# print(3)   I cannot do this. Constraint
# print(2)
# print(1)

In [ ]:
def print_num(n):
  print(n)
  n = n-1
  print_num_b(n)

def print_num_b(n):
  print(n)
  n = n-1
  print_num_c(n)

def print_num_c(n):
  print(n)
  n = n-1
  print_num_d(n)

def print_num_d(n):
  print(n)
  n = n-1
  print_num_e(n)
  n = n-1

def print_num_e(n):
  print(n)

print_num(5)

5
4
3
2
1

In [ ]:
def fun(n):
  if n==0:
    return
  print(n)
  n = n-1
  fun(n)
  print("Hello",n)
fun(5)

5
4
3
2
1
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4

In [ ]:
# Sum of the number
var = 5
# output => 5+4+3+2+1 = 15
num = 10
# output => 10+9+8+7+6+5+4+3+2+1 = 55
# 7 mins.

In [ ]:
def recursive_sum(n):
  if n==1:
    return 1
  return n + recursive_sum(n-1)

In [ ]:
recursive_sum(10)

55

In [ ]:
# Factorial of a number  using recursion
# Fibonacci Series    0 1 1 2 3 5 8 13 21 34 55  using recursion
# Print all the elements of an array in reverse order using recursion
#


def num(n):
    if n == 0:
        return 1
    num(n-1)
    print(n)
num(5)

this code is same sa this code -

def num(n):
    if n == 0:
        return
    num(n-1)
    print(n)
num(5)
here it "return 1" dose not returns 1 it just got discarded but why it got discarded this is my question


def num(n):
    if n == 1:
        return (1, )
    return (n, )+num(n-1)
print(num(5))

here in code 3 return statement works properly it returns a tuple (1,) and here this is imp coz it is base condition

In [ ]:
def num(n):
    if n==-100:
      pass
    if n == -150:
      print("HELLO")
    if n == 0:   # Base condition
        print('Hello')
    print(num(n-1))
    print(n)
num(5)

Hello
HELLO

RecursionError: maximum recursion depth exceeded

**Without any base condition we cannot create any recursive function**

In [ ]:
# Fibonacci series -> 0 1 1 2 3 5 8 13 21 34 55....

In [ ]:
#                                                fibo(5)
#                                                   5
#                            fibo(4)                       +             fibo(3)
#                              3                                           2
#                   fibo(3)  +        fibo(2)                        fibo(2)     +       fibo(1)
#                     2                 1                              1                    1
#             fibo(2)   + fibo(1)
#                1          1

In [ ]:
def fibonacci_series(N):  #N = 3
  if N<=0:
    return "Enter a Valid Number"

  elif N==1 or N==2:
    return 1
  return fibonacci_series(N-1) + fibonacci_series(N-2)
              # 1                       # 1

In [ ]:
fibonacci_series(10)

10
9
8
7
6
5
4
3
3
4
3
5
4
3
3
6
5
4
3
3
4
3
7
6
5
4
3
3
4
3
5
4
3
3
8
7
6
5
4
3
3
4
3
5
4
3
3
6
5
4
3
3
4
3

55

In [ ]:
# Using iteration
inp = int(input("Enter the number"))
a = 0
b = 1
count = 0
while count<inp:
  print(a)
  c = a+b
  a = b
  b = c
  count+=1

Enter the number12
0
1
1
2
3
5
8
13
21
34
55
89